<a href="https://colab.research.google.com/github/AllysonAndrey/Microdados_Enem/blob/main/Data_Charge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Carregamento dos dados brutos

In [2]:
import numpy as np
import pandas as pd
import os
import statsmodels.api as sn
import matplotlib.pyplot as mpl
import seaborn as sb
from google.colab import drive
drive.mount('/content/drive')
#import pyodbc as bd

Mounted at /content/drive

In [3]:
base_enem = f"/content/drive/MyDrive/ENEM/DADOS_BRUTOS/"
nome_arquivo = 'MICRODADOS_ENEM_'
ano = 2021
tipo_extensao = '.csv'
dados_enem = f"{base_enem}{nome_arquivo}{ano}{tipo_extensao}"

In [4]:
f_enem = pd.read_csv(dados_enem, sep = ";" ,  encoding='ISO-8859-1')

In [5]:
f_enem.head(20)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B
5,210052391248,2021,10,F,1,3,1,1,9,1,...,A,A,A,A,A,A,B,A,A,B
6,210052615524,2021,9,F,0,3,1,1,6,1,...,B,A,A,B,B,A,C,A,A,B
7,210054368957,2021,4,F,1,1,1,1,1,1,...,B,A,A,C,B,A,D,B,B,B
8,210053417016,2021,8,F,1,3,1,2,0,2,...,B,A,A,B,A,A,B,A,A,B
9,210051128744,2021,4,F,1,3,1,2,0,2,...,B,A,B,C,B,A,C,A,A,B
10,210052320506,2021,5,F,1,3,1,1,2,1,...,A,A,A,B,A,A,C,A,B,B
11,210054444526,2021,2,F,1,1,1,2,0,2,...,A,A,A,B,B,A,C,A,B,B
12,210053193408,2021,11,M,2,3,1,1,11,1,...,A,A,A,B,A,A,C,A,B,B
13,210051549956,2021,5,M,1,2,1,1,3,1,...,A,A,A,C,B,A,A,A,A,B
14,210054173438,2021,5,F,1,2,1,2,0,2,...,B,A,B,C,A,B,B,B,B,B
15,210053021203,2021,4,F,1,3,1,1,1,1,...,A,A,A,B,A,A,A,A,B,B
16,210053788150,2021,7,F,1,1,1,1,4,1,...,A,A,A,B,A,A,C,A,A,B
17,210051519039,2021,8,M,1,3,1,1,6,1,...,A,A,A,B,A,A,C,A,B,B
18,210054206376,2021,2,F,1,3,1,2,0,2,...,A,A,A,B,A,A,C,A,A,A
19,210053797083,2021,11,M,1,3,1,1,9,1,...,A,A,A,B,B,A,B,A,A,B

**Dados Dicionario**

In [6]:
#link do dicionario: https://docs.google.com/spreadsheets/d/1athUzsch-vFc7DKIdMDpOvapkbx4bEfr_Q4ncKcOU8k/edit?usp=sharing
sheet_id = '1athUzsch-vFc7DKIdMDpOvapkbx4bEfr_Q4ncKcOU8k'
sheet_name_l = 'Colunas_Imutaveis'
sheet_name_n = 'Colunas_Imutaveis_Numeros'
url = f' https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name_l}'
url_n = f' https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name_n}'

In [7]:
dic_imutaveis_l = pd.read_csv(url) #, header=1)
dic_imutaveis_n = pd.read_csv(url_n) #, header=1)

In [8]:
dic_imutaveis_l

,Nome_Variavel,Descrica_Variavel,Categoria,Descricao_Categoria
0,TP_SEXO,Sexo,M,Masculino
1,NaN,NaN,F,Feminino
2,Q001,"Até que série seu pai, ou o homem responsável ...",A,Nunca estudou.
3,NaN,NaN,B,Não completou a 4ª série/5º ano do Ensino Fund...
4,NaN,NaN,C,"Completou a 4ª série/5º ano, mas não completou..."
...,...,...,...,...
121,NaN,NaN,C,"Sim, dois."
122,NaN,NaN,D,"Sim, três."
123,NaN,NaN,E,"Sim, quatro ou mais."
124,Q025,Na sua residência tem acesso à Internet?,A,Não.
125,NaN,NaN,B,Sim.

In [9]:
pd.set_option('display.max_columns', None)

In [10]:
# Verificação de Amostra
print("Total de linhas:",f_enem.shape[0])

Total de linhas: 3389832

In [11]:
colunas_para_retira = ['TX_GABARITO_CH','TX_GABARITO_CN','TX_GABARITO_MT','TX_GABARITO_LC','TX_RESPOSTAS_CH','TX_RESPOSTAS_LC','TX_RESPOSTAS_MT','TX_RESPOSTAS_CN']
f_enem_1 = f_enem.drop(columns=colunas_para_retira)

In [ ]:
#Preenchendo a coluna Nome_Variavel com os dados que existem na mesma coluna e estão acima dos resultados que estão NaN
dic_imutaveis_l['Nome_Variavel'] = dic_imutaveis_l['Nome_Variavel'].ffill()
dic_imutaveis_n['Nome_Variavel'] = dic_imutaveis_n['Nome_Variavel'].ffill()

In [ ]:
# Resetando os index
dic_imutaveis_l = dic_imutaveis_l[['Nome_Variavel','Categoria','Descricao_Categoria']].reset_index(drop = True)
dic_imutaveis_n = dic_imutaveis_n[['Nome_Variavel','Categoria','Descricao_Categoria']].reset_index(drop = True)

In [ ]:
#Criando uma lista dos valores que existem na coluna Nome_Variavel, para saber quais as colunas estão impostas
imutaveis_l = dic_imutaveis_l['Nome_Variavel'].unique()
imutaveis_n = dic_imutaveis_n['Nome_Variavel'].unique()

lista_dimensoes_l = list( set(imutaveis_l)  )
lista_dimensoes_n = list( set(imutaveis_n)  )

In [ ]:
# Organizando a lista de forma abc
lista_dimensoes_n = sorted(lista_dimensoes_n)
lista_dimensoes_l = sorted(lista_dimensoes_l)

In [ ]:
print (lista_dimensoes_n)

In [ ]:
print (lista_dimensoes_l)

Transformação dos dados .csv em parquet

In [ ]:
def salvar_parquet(df, caminho):
    df.to_parquet(caminho, compression='snappy')
    print(f'Salvo com sucesso em: {caminho}')